In [2]:
#Import pandas 
import pandas as pd 
import os 

# Load file
csv_path = os.path.join("Resources/Purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_dataf = pd.read_csv(csv_path)
purchase_dataf

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
#Player count 
#Count the total number of players
players = len(purchase_dataf["SN"].unique())
#Create tiny data frame ( more like data box)
Player_countdf = pd.DataFrame({"Total Players":[players]})
Player_countdf

   Total Players
0            576

In [4]:
#Purchasing Analysis (Total)
#Obtain number of unique items, average price, etc. using basic calculations

#Create unique items
items = purchase_dataf["Item Name"].unique()
unique_items = len(items)
#Do average of price column
average_price = round(purchase_dataf["Price"].mean(),2)
#Create number of purchases using purchase ID
tot_purchase_num = len(purchase_dataf["Purchase ID"])
#Create total revenue
tot_revenue = purchase_dataf["Price"].sum()
#Create a new dataframe with new information

purchase_analysisdf = pd.DataFrame({"Unique Items":[unique_items], 
                                    "Average Price": [average_price], 
                                    "Total Purchase Number": [tot_purchase_num], 
                                    "Total Revenue": [tot_revenue]
    
    
})
# Add formatting 
purchase_analysisdf["Average Price"] = purchase_analysisdf["Average Price"].map("${:.2f}".format)
purchase_analysisdf["Total Revenue"] = purchase_analysisdf["Total Revenue"].map("${:.2f}".format)

purchase_analysisdf

   Unique Items Average Price  Total Purchase Number Total Revenue
0           179         $3.05                    780      $2379.77

In [5]:
#Gender of players
#Percentage and Count of Male, Female and Other/Non-disclosed players
#Drop players that are more than once
gender_df = purchase_dataf[["SN","Gender"]].drop_duplicates()


gender_count = gender_df["Gender"].value_counts()


#Check why values are different from gitlab
#some players are the same because they made different purchases, change code to get repeated players out of gender count.

In [6]:
#Get counts to get the percentage 
tot_all = len(gender_df)
tot_males = len(gender_df.loc[gender_df["Gender"] == "Male"])
tot_females = len(gender_df.loc[gender_df["Gender"] == "Female"])
tot_other = len(gender_df.loc[gender_df["Gender"] == "Other / Non-Disclosed"])

In [7]:
#get percent by gender 
male_pct = round((tot_males/tot_all),2)
female_pct= round((tot_females/tot_all),2)
other_pct = round((tot_other/tot_all),2)

In [8]:
#make new dataframe to display the results for gender of players
Final_genderdf = pd.DataFrame({"Gender":["Male","Female","Other / Non-Disclosed"], 
                                    "Total Count": [tot_males,tot_females,tot_other], 
                                    "Percentage of Players": ["{:.2%}".format(male_pct),
                                                              "{:.2%}".format(female_pct),"{:.2%}".format(other_pct)]  
})
Gender_countdf = Final_genderdf.set_index("Gender")
Gender_countdf

                       Total Count Percentage of Players
Gender
Male                           484                84.00%
Female                          81                14.00%
Other / Non-Disclosed           11                 2.00%

In [9]:
#Purchasing analysis by gender 
#Use groupby 
Gender_group = purchase_dataf.groupby(["Gender"])

#Obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
Gender_summarydf = Gender_group.Price.agg(["count", "sum", "mean"])
Gender_summarydf

#Get average purchase total per person
#Bring data on total count of players
Purchase_per_player = round((Gender_summarydf["sum"]/Gender_countdf["Total Count"]),2)
Purchase_per_player


# Change de names of the columns of dataframe 
Gender_summarydf = Gender_summarydf.rename(columns={"count": "Purchase Count",
                                                  "sum": "Total Purchase Value",
                                                   "mean": "Average Purchase Value"})


#Add purchase per player column to the end of the dataframe.
Gender_summarydf["Avg Purchase per Player"] = Purchase_per_player

#Give formatting 
Gender_summarydf["Total Purchase Value"] = Gender_summarydf["Total Purchase Value"].map("${:.2f}".format)
Gender_summarydf["Average Purchase Value"] = Gender_summarydf["Average Purchase Value"].map("${:.2f}".format)
Gender_summarydf["Avg Purchase per Player"] = Gender_summarydf["Avg Purchase per Player"].map("${:.2f}".format)

#Create a summary data frame and display it
Gender_summarydf

#.astype(float).map("${:,.2f}".format)

,Purchase Count,Total Purchase Value,Average Purchase Value,Avg Purchase per Player
Gender,,,,
Female,113,$361.94,$3.20,$4.47
Male,652,$1967.64,$3.02,$4.07
Other / Non-Disclosed,15,$50.19,$3.35,$4.56

In [10]:
#Age Demographics
# Drop duplicates for age 
age_df = purchase_dataf[["SN","Age"]].drop_duplicates()

#Make bins for ages. Put players in corresponding category using the bins (Hint use: use pd.cut())

bins =[0,9,14,19,24,29,34,39,150]

named_bins = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

age_df["Age Group"] = pd.cut(age_df["Age"], bins, labels=named_bins, include_lowest=True)

In [11]:
#Use groupby to group by age 
age_groupdf = age_df.groupby(["Age Group"])
# Calculate the numbers and percentages by age group
get_SN = age_groupdf.count()
SN_total = get_SN["SN"]

Age_pct = ((SN_total*100)/576)
get_SN ["Player Percent"] = Age_pct.astype(float).map("{:,.2f}%".format)
#Create a summary data frame and display the results
get_SN

            SN  Age Player Percent
Age Group
<10         17   17          2.95%
10-14       22   22          3.82%
15-19      107  107         18.58%
20-24      258  258         44.79%
25-29       77   77         13.37%
30-34       52   52          9.03%
35-39       31   31          5.38%
40+         12   12          2.08%

In [38]:
#Purchasing Analysis (Age)
#Make new dataframe for purchase and drop SN duplicates
Age_purchase = purchase_dataf[["SN","Age", "Price"]].drop_duplicates()

# Use bins made above and add them to the new data frame
Age_purchase["Age Group"] = pd.cut(Age_purchase["Age"], bins, labels=named_bins, include_lowest=True)

# Make groups with groupby
Age_purchase_group = Age_purchase.groupby(["Age Group"])


#Code for purchase count, avg. purchase price, avg. purchase total per person etc.
#Total Number of Items Purchased
age_total_items =Age_purchase_group["Price"].count()

#Average Purchase Price
age_avg_price = Age_purchase_group["Price"].mean()



#Total Revenue

age_tot_revenue = Age_purchase_group["Price"].sum()

#Average per person per age 
# I already know that the player total by age was already done before
Purchase_per_age = round((age_tot_revenue/get_SN["Age"]),2)

In [37]:
#Make new dataframe to show results 
Final_agedf = pd.DataFrame({ "Purchase count":age_total_items.map("${:,.2f}".format), 
                                    "Average Purchase Price": age_avg_price.map("${:,.2f}".format),
                                   "Total Purchase Value":age_tot_revenue.map("${:,.2f}".format),
                                    "Avg Total Purchase per Person":Purchase_per_age.map("${:,.2f}".format)
})
Final_agedf

,Purchase count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,$23.00,$3.35,$77.13,$4.54
10-14,$28.00,$2.96,$82.78,$3.76
15-19,$135.00,$3.04,$410.41,$3.84
20-24,$365.00,$3.05,"$1,114.06",$4.32
25-29,$101.00,$2.90,$293.00,$3.81
30-34,$73.00,$2.93,$214.00,$4.12
35-39,$41.00,$3.60,$147.67,$4.76
40+,$13.00,$2.94,$38.24,$3.19

In [64]:
#Top Spenders
#Discover who is the top spender, and sort results in descending order. 

#Separate SN (player with their purchases)

#Create dataframe for spenders 

Spenderdf = purchase_dataf[["SN","Price","Purchase ID"]]

#groupby SN to get players
purch_by_player = Spenderdf.groupby("SN")

#Make purchase count 
num_purchase = purch_by_player["Purchase ID"].count()

#SUm values to get total purchase values
tot_purch_value = purch_by_player["Price"].sum()

#Average purchase value by spender 
avg_purch_value =purch_by_player["Price"].mean()

In [65]:
#Create the new dataframe with spender data 
Final_spenderdf = pd.DataFrame({ "Purchase Count ": num_purchase,
                                    "Average Purchase Price": avg_purch_value ,
                                   "Total Purchase Value": tot_purch_value
})

#apply ascending = false 
Final_spenderdf = Final_spenderdf.sort_values("Total Purchase Value", ascending = False)


#Format in the end to avoid mistakes 
Final_spender

               Purchase Count   Average Purchase Price  Total Purchase Value
SN
Adairialis76                 1                2.280000                  2.28
Adastirin33                  1                4.480000                  4.48
Aeda94                       1                4.910000                  4.91
Aela59                       1                4.320000                  4.32
Aelaria33                    1                1.790000                  1.79
...                        ...                     ...                   ...
Yathecal82                   3                2.073333                  6.22
Yathedeu43                   2                3.010000                  6.02
Yoishirrala98                1                4.580000                  4.58
Zhisrisu83                   2                3.945000                  7.89
Zontibe81                    3                2.676667                  8.03

[576 rows x 3 columns]

In [ ]:
map("${:,.2f}".format),

#Most Popular Items
#Retrieve the Item ID, Item Name, and Item Price columns. group Item ID and Item name. 
#Calculate purchase count, average item price, and total purchase value
#apply ascending = false 

#Format in the end to avoid mistakes 
#Create new dataframe and display results

In [ ]:
#Most Profitable Items

#groupby Items
#count those items

In [ ]:
#Sort the above table by total purchase value in descending order. Create and display new dataframe