In [2]:
#Import pandas 
import pandas as pd 
import os 

# Load file
csv_path = os.path.join("Resources/Purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_dataf = pd.read_csv(csv_path)
purchase_dataf

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
#Player count 
#Count the total number of players
players = purchase_dataf["SN"].unique()
len(players)

576

In [4]:
#Purchasing Analysis (Total)
#Obtain number of unique items, average price, etc. using basic calculations

#Create unique items
items = purchase_dataf["Item Name"].unique()
unique_items = len(items)
#Do average of price column
average_price = round(purchase_dataf["Price"].mean(),2)
#Create number of purchases using purchase ID
tot_purchase_num = len(purchase_dataf["Purchase ID"])
#Create total revenue
tot_revenue = purchase_dataf["Price"].sum()
#Create a new dataframe with new information

purchase_analysisdf = pd.DataFrame({"Unique Items":[unique_items], 
                                    "Average Price": [average_price], 
                                    "Total Purchase Number": [tot_purchase_num], 
                                    "Total Revenue": [tot_revenue]
    
    
})

purchase_analysisdf

   Unique Items  Average Price  Total Purchase Number  Total Revenue
0           179           3.05                    780        2379.77

In [5]:
#Gender of players
#Percentage and Count of Male, Female and Other/Non-disclosed players
gender_count = purchase_dataf["Gender"].value_counts()
gender_percent = (gender_count* 100)/ players
gender_count
#Check why values are different from gitlab
#some players are the same because they made same purchases, change code to get repeated players out of gender count.

ValueError: operands could not be broadcast together with shapes (3,) (576,)

In [ ]:
#Purchasing analysis by gender 
#Obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#Create a summary data frame and display it

In [ ]:
#Age Demographics
#Make bins for ages. Put players in corresponding category using the bins (Hint use: use pd.cut())
# Calculate the numbers and percentages by age group
#Create a summary data frame and display the results

In [ ]:
#Purchasing Analysis (Age)
#Bin the purchase_data data frame by age
#Code for purchase count, avg. purchase price, avg. purchase total per person etc. and create a summary data frame with results.

In [ ]:
#Top Spenders
#Discover who is the top spender, and sort results in descending order. Display dataframe.

In [ ]:
#Most Popular Items
#Retrieve the Item ID, Item Name, and Item Price columns. group Item ID and Item name. 
#Calculate purchase count, average item price, and total purchase value
#Create new dataframe and display results

In [ ]:
#Most Profitable Items
#Sort the above table by total purchase value in descending order. Create and display new dataframe